/* You can add global styles to this file, and also import other style files */
body{
    margin: 0%;
    border: 0%;
    padding: 0%;
    background: rgb(243,246,255);
    background: linear-gradient(90deg, rgba(243,246,255,1) 0%, rgba(219,217,255,1) 50%,  rgba(243,246,255,1)100%);
}
